#footer {
    bottom: 0;
    color: #707070;
    height: 2em;
    left: 0;
    right: 0;
    padding : 5rem;
    position: relative; //changed to relative from fixed also works if position is not there
    font-size: small;
    width:100%;
}
#seperator {
    padding-bottom: 5rem;
    padding-top: 7rem;
}

body {
    min-height: 90%;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}
.container {
  display: flex;
}
.container.space-around {
  justify-content: space-around;
}
.container.space-between {
  justify-content: space-between;
}

div.zero-hpad {
  padding-left: 0px;
  padding-right: 0px;
}


div.zero-hmargin {
  margin-left: 0px;
  margin-right: 0px;
}
